

<div class="container subtitle">
  <div class="row justify-content-center subtitle">
      <h1 class="d-flex justify-content-center subtitle">本当に退会しますか？</h1>
  </div>

  <div class="row subtitle">
      <div class="col-12" align = "center">
        <div>
          <p>退会すると、会員情報や</p>
          <p>これまでの購入履歴が閲覧できなくなります。</p>
          <p>退会する場合は、「退会する」をクリックしてください。</p>
        </div>
      </div>

      <div class="col-12 subtitle" align = "center">
          <%= link_to '退会しない', root_path, class: "btn btn-outline-primary save col-xs-6" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "退会する", user_out_path, class: "btn btn-outline-danger col-xs-6", method: :patch, data: {confirm: "本当に退会しますか？"} %>
      </div>
  </div>
</div>