  <div class='container'>
    <div class="about">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 id="aaa" class="title">
          <span>A</span>
          <span>b</span>
          <span>o</span>
          <span>u</span>
          <span>t</span>
      </h1>

      <p>このサイトは東京に特化した</p>
      <p>投稿型観光サイトです</p>
      <p>コロナ禍ではありますが</p>
      <p>みなさんにとって素晴らしい思い出が</p>
      <p>作れますように</p>
       </div>
    </div>
  </div>
