  <div class='container'>
    <div class="about">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 id="aaa" class="title">
          <span>A</span>
          <span>b</span>
          <span>o</span>
          <span>u</span>
          <span>t</span>
      </h1>

      <p>このサイトは東京に特化した</p>
      <p>投稿型観光サイトです</p>
      <p>コロナ禍ではありますが</p>
      <p>みなさんにとって素晴らしい思い出が</p>
      <p>作れますように</p>

      <!--h3 id="bbb" class="title">
          <span>こ</span>
          <span>の</span>
          <span>サ</span>
          <span>イ</span>
          <span>ト</span>
          <span>は</span>
      </h3>

      <h3 id="ccc" class="title">
          <span>東</span>
          <span>京</span>
          <span>に</span>
          <span>特</span>
          <span>化</span>
          <span>し</span>
          <span>た</span>
      </h3>

      <h3 id="ddd" class="title">
       　  <span>投</span>
          <span>稿</span>
          <span>型</span>
          <span>観</span>
          <span>光</span>
          <span>サ</span>
          <span>イ</span>
          <span>ト</span>
          <span>で</span>
          <span>す</span>
      </h3>

      <h3 id="eee" class="title">
          <span>コ</span>
          <span>ロ</span>
          <span>ナ</span>
          <span>禍</span>
          <span>で</span>
          <span>は</span>
          <span>あ</span>
          <span>り</span>
          <span>ま</span>
          <span>す</span>
          <span>が</span>
      </h3>

      <h3 id="fff" class="title">
          <span>み</span>
          <span>な</span>
          <span>さ</span>
          <span>ん</span>
          <span>に</span>
          <span>と</span>
          <span>っ</span>
          <span>て</span>
      </h3>

      <h3 id="ggg" class="title">
        　  <span>素</span>
           <span>晴</span>
           <span>ら</span>
           <span>し</span>
           <span>い</span>
           <span>思</span>
           <span>い</span>
           <span>出</span>
           <span>が</span>
       </h3>

       <h3 id="hhh" class="title">
        　  <span>作</span>
           <span>れ</span>
           <span>ま</span>
           <span>す</span>
           <span>よ</span>
           <span>う</span>
           <span>に</span>
       </h3-->
       </div>
    </div>
  </div>
