<h1 class="title">
    <span>A</span>
    <span>b</span>
    <span>o</span>
    <span>u</span>
    <span>t</span>
    <span>このサイトは</span>
    <span>東京に特化した投稿方観光サイトです。</span>
    <span>コロナ禍ではありますが</span>
    <span>みなさんにとって</span>
    <span>素晴らしい思い出が作れますように。</span>
</h1>