<div class='container'>
 <div class='row　subtitle'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <div ckass="background2">
   <h1>About</h1>

    <p>このサイトは</p>
    <p>東京に特化した投稿方観光サイトです。</p>
    <p>コロナ禍ではありますが</p>
    <p>みなさんにとって</p>
    <p>素晴らしい思い出が作れますように。</p>

    </div>
  </div>
 </div>
</div>