/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

//body {
  //background-image: url("hoge.jpg");
//}

main {
  padding-bottom: 50px;
}

// .subtitle {
//   margin: 30px;
// }

.form-for-resistration {
  margin-bottom: 15px;
}

//about//

//.about {
  //background-color: #ADD8E6;
//}

//About//

//header//
.header {
  background-color:  #ADD8E6;
  padding: 15px 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
//header//

//footer//
// .wrapper {
//   min-height: 100vh;
//   position: relative;/*←相対位置*/
//   padding-bottom: 120px;/*←footerの高さ*/
//   box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
// }

.footer {
  width: 100%;
  background-color: #ADD8E6;
  position: fixed;
  height: 50px;
  text-align: center;
  bottom: 0;
}

.social-items {
  position: absolute;
  right: 90px;
}
//footer//

//post//

.post-item {
  margin-right: 110px;
  margin-down: 10px;
}

//post-index//
.right {
  margin-left: 10px;
}

//top-genre//
.border {
  background-color: #ADD8E6;
}

//search//
.comment {
  text-align:center;
  margin-top: 150px;
}

//post-show//
.post {
  text-align:center;
  margin:0 auto;
}

//headder2//
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  margin-top: 0px;
  padding-top: 0px;
  background-image: url(susipakuAB851PAKU8200_TP_V.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-content {
  width: 40%; /* 横幅40% */
  height: 300px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  line-height:　200px;
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

/* 追加 */
.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
}

/* 追加 */
.main-visual-name {
  color: #fff; /* 文字色を白に変更 */
}

